#textContainer{
  width: 75vw;
  height: auto;
  margin: 0 auto;
}
h1{
  font: 30px sans-serif;
  text-align: center;
}
p{
  font: 20px sans-serif;
}
#nav{
  height: 50px;
  width: 100px;
  position: relative;
  top: 50px;
  left: 35vw;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: solid black thin;
  border-radius: 5px;
}
